.woocommerce-account{
	#content{
		margin: 80px 0 150px;
		h4{
			color: $color__text-title;
			margin: 0;
			padding: 10px 0 ;
			font-size: 14px;
		}

			input[type="text"],
			input[type="email"],
			input[type="password"]{
				margin-bottom: 12px;
				height: 40px;
				padding-left: 20px;
			}

			label{
				margin-bottom: 15px;
			}

		.col-md-5{
			.woocommerce{
				width: 82%;

					h4{
						background-color: $color__background-header-login;
						padding: 15px 20px;

					}

				form.login{

					background-color: $color__background;
					border: none;
					margin: 0;

					span.login-note{
						margin: 15px 0 25px;
						display: block;
					}



					.form-row{
						a{
							float: right;
							display: inline-block;
							margin-top:5px;
						}
					}



					button{
						font-weight: 400;
						width: 105px;
					}


				}
			}
		}
	}
}