@media screen and ( max-width: 990px ){
	header{
		.header{
			.site-branding{
				max-width: 30%;
			}
			.main-menu{
				max-width: 70%;
				float: right;
			}
		}
	}

	.woocommerce{
		#content{
			ul.products.columns-2{
				li.product{

					width: 100%;

				}
			}
		}

	}

	footer{
		.col-md-5,
		.col-md-7,
		.col-md-4{
			flex: 0 0 100%;
			max-width: 100%;
			clear: both;
		}
	}

}