section.no-results{
	form.search-form{
		position: relative;

		label{
			width: 100%;
			display: block;

			input{
				width: 100%;
				padding-left: 20px
			}
		}

		input[type="submit"]{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			color: $color__text-button;
		}
	}
}


.search{
	section{
		margin-top: 80px;

		.entry-title{
			margin-bottom: 0;

			a{
				color: $color__text-title;
			}
		}

		.entry-summary{
			font-size: 18px;
			margin-top: 10px;

			.del-img{
				text-decoration: line-through;
			}
		}
	}
}