section.no-results{
	form.search-form{
		position: relative;

		label{
			width: 100%;
			display: block;

			input{
				width: 100%;
				padding-left: 20px
			}
		}

		input[type="submit"]{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			color: $color__text-button;
		}
	}
}


.search{
	
	.woocommerce-content{

		ul.columns-2{




			li.product{

				float: left;
				position: relative;
			}

			a.button{

				display: block;
			}
		}

		ul.products{
			margin-top: 80px!important;
		}

	}
}